@model Tuple<FIRSTShares.Entities.Usuario, ErrorViewModel>

<table class="table table-striped mt-3">
    <thead>
        <tr>
            <th scope="col">Número</th>
            <th scope="col">Nome</th>
            <th scope="col">País</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Item1.Time.Numero</td>
            <td>@Model.Item1.Time.Nome</td>
            <td>@Model.Item1.Time.Pais</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped mt-3">
    <thead>
        <tr>
            <th scope="col" colspan="3">Membros</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var membro in Model.Item1.Time.Usuarios)
        {
            <tr>
                <td><a asp-area="" asp-controller="Profile" asp-action="UserProfile" asp-route-idUsuario="@membro.ID" style="color: black;">@membro.NomeUsuario</a></td>
            </tr>
        }
    </tbody>
</table>