@model Tuple<List<FIRSTShares.Entities.Categoria>, PagingList<FIRSTShares.Entities.Postagem>, List<FIRSTShares.Entities.Usuario>>
@using ReflectionIT.Mvc.Paging

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _localizer

@foreach (var postagem in Model.Item2.ToList())
{
    <div class="card">
        <div class="card-body">
            @{
                var pontinhosPost = (postagem.Conteudo.Length < 200) ? "" : " [...]";
                var pontinhosTitulo = (postagem.Discussao.Assunto.Length < 45) ? "" : "...";
            }
            <h5 class="card-title">
                <span class="badge badge-info p-2 mr-2">@_localizer[postagem.Categoria.Nome]</span> @postagem.Discussao.Assunto.Substring(0, Math.Min(postagem.Discussao.Assunto.Length, 45))@pontinhosTitulo
                <span class="float-right" style="position: relative; margin-top:-3.1%; margin-right: -1%;">
                    <ul class="navbar-nav" style="font-size: 15px">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @_localizer["Traduzir"]
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item text-dark" href="@Url.Action("Index", "Post", new { id = postagem.ID, idioma = "ES" } )">Español</a>
                                <a class="dropdown-item text-dark" href="@Url.Action("Index", "Post", new { id = postagem.ID, idioma = "PT" } )">Português</a>
                            </div>
                        </li>
                    </ul>
                </span>
            </h5>
            <p class="card-text">@Html.Raw(postagem.Conteudo.Substring(0, Math.Min(postagem.Conteudo.Length, 200)) + pontinhosPost)</p>
            <a href="@Url.Action("Index", "Post", new { id = postagem.ID } )" class="btn btn-info float-right pt-0 pb-0" data-toggle="tooltip" data-placement="top" title="Ler mais"><i class="fas fa-angle-double-right"></i></a>
        </div>
        <div class="card-footer text-muted">
            <span class="float-left"><a asp-area="" asp-controller="Profile" asp-action="UserProfile" asp-route-idUsuario="@postagem.Usuario.ID" style="color: dimgrey;">@postagem.Usuario.NomeUsuario</a></span>
            <span class="float-right">@postagem.DataCriacao</span>
        </div>
    </div>
}

