@model FIRSTShares.Entities.Postagem
@foreach (var comentario in @Model.Postagens)
{
    var foto = comentario.Usuario.Foto;
    <div class="row">
        <div class="col-2"></div>
        <div class="col-9">
            <div class="card">
                <div class="container mt-1">
                    <img src="~/img/usuarios/@foto" class="img-fluid img-thumbnail mr-3 mt-2" align="left" width="80" />
                    <span class="badge badge-secondary p-2 mt-3">
                        @comentario.Usuario.Nome
                    </span>
                    <div class="card-body ml-3 mt-1">
                        @Html.Raw(comentario.ConteudoHtml)
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a href="#" class="float-right p-2 text-danger"><i class="fas fa-heart"></i></a>
                            <partial name="~/Views/Post/_PartialAddComentario.cshtml" model="@Model" />
                        }
                    </div>
                </div>
                <div class="card-footer text-muted mt-2">
                    <span class="float-left">@comentario.Usuario.NomeUsuario</span>
                    <span class="float-right">@comentario.DataCriacao</span>
                </div>
            </div>

        </div>
    </div>
}