@model Tuple<List<FIRSTShares.Entities.Categoria>, FIRSTShares.Entities.Postagem>

@foreach (var comentario in @Model.Item2.Postagens.OrderByDescending(c => c.DataCriacao))
{
    var foto = comentario.Usuario.Foto;
    <div class="row">
        <div class="col-1 col-sm-2 col-md-2 col-lg-1"></div>
            <div class="col-10 col-sm-10 col-md-9 col-lg-9">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">
                            <img src="~/img/usuarios/@foto" class="img-fluid img-thumbnail mr-3 mt-1" align="left" width="80" />
                            <span class="badge badge-secondary p-2 mt-2">
                                @comentario.Usuario.Nome
                            </span>
                        </div>
                        <p class="card-text">
                            @Html.Raw(comentario.ConteudoHtml)
                        </p>
                        @if (User.Identity.IsAuthenticated)
                        {
                            var user = (System.Security.Claims.ClaimsIdentity)User.Identity;
                            var nomeUsuario = user.Claims.ToList().Find(t => t.Type == "NomeUsuario").Value;
                            if (comentario.Curtidas.Any(c => c.Usuario.NomeUsuario == nomeUsuario && c.Excluido == false))
                            {
                                <a href="@Url.Action("Curtir", "Post", new { postId = comentario.ID, curtiu = false })" class="float-right p-2">
                                    <i class="fas fa-heart text-danger"></i>
                                    @if (comentario.Curtidas.Where(c => c.Excluido == false).Count() > 0)
                                    {
                                        <span class="text-dark">@comentario.Curtidas.Where(c => c.Excluido == false).Count()</span>
                                    }
                                </a>
                            }
                            else
                            {
                                <a href="@Url.Action("Curtir", "Post", new { postId = comentario.ID, curtiu = true })" class="float-right p-2 text-dark">
                                    <i class="far fa-heart"></i>
                                    @if (comentario.Curtidas.Where(c => c.Excluido == false).Count() > 0)
                                    {
                                        <span>@comentario.Curtidas.Where(c => c.Excluido == false).Count()</span>
                                    }
                                </a>
                            }
                        }
                        else
                        {
                            @if (comentario.Curtidas.Where(c => c.Excluido == false).Count() > 0)
                            {
                                <a href="#" class="float-right p-2 text-dark">
                                    <i class="far fa-heart"></i>
                                    <span>@comentario.Curtidas.Where(c => c.Excluido == false).Count()</span>
                                </a>
                            }
                        }
                    </div>
                    <div class="card-footer text-muted mt-2">
                        <span class="float-left">@comentario.Usuario.NomeUsuario</span>
                        <span class="float-right">@comentario.DataCriacao</span>
                    </div>
                </div>

            </div>
        </div>
}