@model FIRSTShares.Entities.Postagem

@{
    ViewData["Title"] = "Postagem";
}
<div class="container">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><span class="badge badge-info p-2">@Model.Categoria.Nome</span> @Model.Discussao.Assunto</h5>
                    <p class="card-text">@Html.Raw(@Model.ConteudoHtml)</p>
                    <a href="#" class="float-right p-2 text-danger"><i class="fas fa-heart"></i></a>
                </div>
                <div class="card-footer text-muted">
                    <span class="float-left">@Model.Usuario.NomeUsuario</span>
                    <span class="float-right">@Model.DataCriacao</span>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
</div>